<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="searchGithubUser() " id="search-form" #userForm="ngForm">
        <input type="text" class="form-control search" ngModel name="search" placeholder="Enter github username to search..." required #search="ngModel">
        <p class="text-danger error-block" *ngIf="!search.valid && search.touched"><small>Fill in field!</small></p>
        <div class="d-grid mt-2">
          <button appChangecolor type="submit" class="btn btn-block btn-search" [disabled]="!userForm.valid">Search User</button>
        </div>
    </form>
    </div>
  </div>
</div>  
<br>

<div class="row" *ngIf="displayUserDetailContainer">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 col-md-4 col-lg-4">
        <div class="card text-center">
          <br>
          <img class="card-img-top rounded-circle" [src]="user?.avatar_url" alt="My Image">
          <br>
          <div class="card-body text-center list-group">
            <div class="list-group-item userdetails">
              <h2> {{user?.login}}</h2>
            <p>Joined on: <span class="badge rounded-pill  text-dark">{{user?.created_at|date}}</span></p>
            <p>Public repos: <span class="badge rounded-pill  text-dark">{{user?.public_repos}}</span></p>
            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-5">
          <div class="card text-center ">
            <h4 class="card-title">GitHub Profile</h4>
            <ul class="list-group">
              <li class="list-group-item">Name: <span>{{user?.name}}</span></li>
              <strong><li class="list-group-item">Bio: {{user?.bio | wordcount}} words</li></strong>
              <li class="list-group-item">
                <p>{{user?.bio}}</p>
              </li>
              <br>
            </ul>
          </div>
          
          <div class="card text-center">
            <br>
            <ul class="list-group">
              <li class="list-group-item">Want to see more on {{user.name}}?
                <div>
                  <small><a class="btn btn-sm" href="https://github.com/{{ user?.login }}" target="_blank" rel="noopener noreferrer">Github Profile<i class="fa fa-arrow-right"></i></a></small>
                </div>
              </li>
            </ul>
            <br>
          </div>            
        </div>  
    </div>
  </div>
</div>