<div container-fluid id="navbar">
  <div>
    <nav class="navbar navbar-expand fixed-top">
      <h1 appChangecolor class="navbar-brand"><strong><b>Pink Hub</b></strong></h1>
    
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="account" routerLinkActive='active'>Home</a>
        <a class="nav-item nav-link" routerLink="/account-user-details" routerLinkActive='active'>Search User</a>
        <a class="nav-item nav-link" routerLink="/account-repo-details" routerLinkActive='active'>Search Repo</a>   
      </div>
      <!--/div>-->
    </nav>
  </div>
</div>