<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <form (ngSubmit)="searchGithubRepos()" id="search-form" #repoForm="ngForm">
          <input type="text" class="form-control" ngModel name="search" placeholder="Enter repository name you wish to search for..." required #search="ngModel">
          <p class="text-danger error block" *ngIf="!search.valid && search.touched"><small>Fill in field!</small></p>
          <div class="d-grid mt-2">
            <button type="submit" class="btn btn-block btn-search" [disabled]="!repoForm.valid">Search Repositories</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="displayRepoInformation">
    <div class="col-md-10 text-center">
      <br>
      <h2>Repositories found for {{searchText}}</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-3" *ngFor="let rep of repo; let i=index" >
        <div class="card text-center repo-card">
          <div class="card-body text-center">
            <h4 class="card-title repo-title">{{rep.name}}</h4>
          </div>
          <div>
            <div class="card-body list-group">
              <div class="list-group-item repodetails">
                <p class="card-text"><strong>Created on: <span class="badge rounded-pill text-dark">{{rep.created_at|date}}</span></strong></p>
                <p>Languages: {{rep.language}}</p>
                <a href="{{rep.html_url }}" target="_blank" class="card-link color-primary">View repo <i class="fa fa-arrow-right"></i></a>
                <br>
                <p class="card-text description">{{rep.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="displayUserErrorMessage">
    <div class="col-md-4">
      <div class="card">
        <br>
        <div class="alert alert-danger" role="alert">No repositories found for {{searchText}}</div>
      </div>
      <br>
    </div>
  </div>
</div>
