<div class="container">
  
  <div class="row ">
  <div class="col-md-9 text-center">
    <app-account-form (getName)='searchGithubRepos()'></app-account-form>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div >
      <div class="table">
        <table class="table">
          <tbody>
           <tr *ngFor=" let repo of repo" >
            <td>
              <h4>
                <a style="text-align: center" href="{{repo.html_url}} " >{{repo.name}}</a>
              </h4>
              <p > Repository Owner:
                <a href="{{repo.owner.html_url}}">{{repo.owner.login}}</a>
              </p>
              <p>Date Created : {{repo.created_at|date}}</p>
              <p>Description : {{repo.description}}</p>
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>

</div>
</div>
