@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Great+Vibes&family=Satisfy&display=swap');

body {
  background-image: url('/src/assets/images/Image2.jpg');
  background-color: #940242;
  color: #940242;
  font-family: 'Satisfy', cursive;
  font-size: 3vh;
  font-weight: 500;
}

.row {
  width: 90%;
  margin-left: 5%;
}

.border {
  border-color: rgba(235,183,183);
}

.btn {
  background-color: #e06196;
}

.badge {
  background-color: #f5a4c5;
}
.card {
  background-color: rgba(235,183,183,1); 
  border-radius: 30px;
  border-width: 3px;
}

.repo-card {
  margin-bottom: 30px;
 }

.repo-title {
  height: 20px;
 }
.list-group-item {
  background-color: #940242; 
  color: bisque; 
}

.repodetails {
  margin-left: 7px; 
  margin-right: -9px; 
  height: 300px;
}

.userdetails {
  margin-left: 7px; 
  margin-right: -9px; 
}

.card-img-top {
  height: 30vh;
  width: auto;
  margin: auto;
}

a {
  color: #fcdfe4;
}